
SpaceShooterProjectPart1/.vs/SpaceShooterProjectPart1/v15/.suo
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
*.make
SpaceShooterProjectPart1/bin/data/.gitkeep
*.xml
*.dll
*.exe
*.exp
*.ilk
*.lib
*.pdb
*.aps
*.res
*.rc
*.obj
*.tlog
*.log
*.sln
*.filters
*.user
